<!-- prettier-ignore -->
{% extends "base.html" %}

{% block title %}Item Details{% endblock %}

{% block content %}

<h1>DETAILS</h1>
<p>ITEM_ID {{item_id}}</p>
<p>ITEM_LINK {{link</p>
<p>ITEM_NAME {{name}}</p>
<p>ITEM_QUANTITY {{quantity}}</p>
<p>ITEM_RANK {{rank}}</p>
<p>ITEM_COMB_RANK {{comb_rank}}</p>
<p>ITEM_POTENTIAL_PROFIT {{profit}}</p>
<p>ITEM_LAST_PRICE {{last_price}}</p>
<p>ITEM_QUALITY {{quality}}</p>
<p>ITEM_LEVEL {{level}}</p>
<p>ITEM_CLASS {{item_class}}</p>
<p>ITEM_SUBCLASS {{item_subclass}}</p>
<p>ITEM_DESCRIPTION {{description}}</p>
<p>ITEM_BUY_POINT {{buy_point}}</p>
<p>ITEM_SELL_POINT {{sell_point}}</p>

{% endblock %}
