<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}Market Analysis{% endblock %}
{% block content %}

<!-- ### Include Chart.js CDN ### -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1>Market Analysis</h1>
<p>World of Warcraft Commodities Analysis</p>

<div>
  <canvas id="line-chart" width="800" height="450"></canvas>
</div>

<!-- ### Unique timestamps / Available unique items (views.py) ### -->
<!-- prettier-ignore -->
<script id="timestamp-list" type="application/json">{{timestamp_list|safe}}</script>
<!-- prettier-ignore -->
<script id="items-count-list" type="application/json">{{auctions_count_list}}</script>

<script>
  const timestamps = JSON.parse(document.getElementById('timestamp-list').textContent);
  const items = JSON.parse(document.getElementById('items-count-list').textContent);

  const weekdays = timestamps.map((timestamp) => {
    const date = new Date(timestamp);
    const options = { weekday: 'long' };
    return date.toLocaleDateString('en-US', options);
  });

  new Chart(document.getElementById('line-chart'), {
    type: 'line',
    data: {
      labels: weekdays,
      datasets: [
        {
          data: items,
          label: 'Available unique Items',
          borderColor: '#3e95cd',
          fill: true,
        },
      ],
    },
    options: {
      title: {
        display: true,
      },
    },
  });
</script>

{% endblock %}
