<!-- prettier-ignore -->
{% extends "base.html" %}

{% block title %}Profitable Items{% endblock %}

{% block content %}
<h1>Profitable Items</h1>
<p>Most profitable items and when to buy/sell them</p>

<table>
  <tr>
    <th></th>
    <th>Image</th>
    <th>Name</th>
    <th>Quantities</th>
    <th>Price Range</th>
    <th>Rank</th>
    <th>Buy</th>
    <th>Sell</th>
  </tr>
  {% for x in items_ranked %}
  <tr>
    <td><img src="{{x.link}}" /></td>
    <td>{{x.item_id}}</td>
    <td>{{x.name}}</td>
    <td>{{x.total_quantity}}</td>
    <td>{{x.price_range}}</td>
    <td>{{x.rank}}</td>
    <td>{{x.timestamp_min}}</td>
    <td>{{x.timestamp_max}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
