/* ### General Styles ### */

* {
  box-sizing: border-box;
}

body {
  background-image: url('/static/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: white;
}

/* ### Navbar Styles ### */

.navbar {
  background-color: #0000009a;

  width: 100% !important;
  position: fixed !important;
  //   margin: 1rem 1rem;
  //   padding: 1rem 2rem;
  border-radius: 0.3rem;
  a {
    color: white;
  }
}

/* ### General Styles ### */

.content-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  height: 100vh;
  margin-top: 8rem;
  background-color: #0000009a;
}

.content-container::-webkit-scrollbar {
  display: none;
}

.content {
  height: 100vh; /* set a fixed height for the content */
  margin-bottom: 200px;
}
